Source: com.github.subhadeepjasu.pebbles
Section: x11
Priority: optional
Maintainer: Subhadeep Jasu <subhajasu@gmail.com>
Build-Depends: cmake (>= 2.8),
               debhelper (>= 10.5.1),
               libgranite-dev,
               libjson-glib-dev,
               libsoup2.4-dev,
               libgtk-3-dev,
               libgsl-dev,
               libx11-dev,
               libhandy-1-dev,
               meson,
               valac (>= 0.40.0)
Standards-Version: 4.1.1

Package: com.github.subhadeepjasu.pebbles
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: An easy to use yet powerful calculator app
 Pebbles is an advanced calculator application based in Vala and Gtk. 
